.clock-position {
  position: absolute;
  top: 30px;
  right: 30px;
  vertical-align: top;
}

.left-column-styles {
  width: 250px;
  background-color: beige;
  color: palevioletred;
  font-size: 20px;
  float: left;
}

.right-column-styles {
  border-left: 260px solid beige;
  background-color: purple;
  color: white;
}

